/*@import "https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap";*/
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #181D30;
}

@theme {
  --color-navy: #20263D;
  --color-navy-dark: #181D30;
  --color-gold: #F3DE9E;
  --color-cream: #FBF6EC;
  --color-terracotta: #C1502E;
  --font-google: "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181D30;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /*font-family: var(--font-google);*/
}
